        /* hide scrollbars */
:root {
    --grid-margin: 5px;
    --grid-item-font-size: 18px;
    --grid-heading-font-size: 18px;
}

::-webkit-scrollbar { 
    display: none; 
}

body, a 
{ 
  font-family: sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: normal;          
  text-align: left;
  padding: 0px;
  margin: 0px;
  -webkit-user-select: none;  
}

:focus {
    outline: none;
}

a { 
  text-decoration: none;
}

div.bar {
  position: absolute;
  text-align: right;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 800px;
  padding: 0px;  
  margin: 0px;  
  background: rgba(0, 0, 0, 0.2);
}

a:hover { 

}

a.sm {
  color: #FFFFFF;
  text-decoration: none;
  display: inline;
  padding: 2px;
  margin: 0px;
  margin-right: 4px;
}

a.sm:hover { 
  background: none;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}

.heading{
    font-size: var( --grid-heading-font-size );
    color: white;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    width: 100%;
}

.third {
    margin: var( --grid-margin );
    width: calc( ( 100% / 3) - 2*var(--grid-margin) );
    float:left;
    height: 100px;
    background-color: blue;
}

.third , .label{
    color: white;
    text-align:center;
    font-size: var(--grid-item-font-size);
    top: calc(50% - var(--grid-item-font-size)/2 );
    position:relative;
}